/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
redis-stable-tar.gz
redis-stable
redis-stable.tar.gz
nova
dump.rdb
dump.rdb
dump.rdb
