#favorites {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#favorites td,
#favorites th {
    border: 1px solid #ddd;
    padding: 8px;
}

#favorites tr:hover {
    background-color: #ddd;
}

#favorites th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.button-posted {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-not-posted {
    background-color: #dd101a;
    /* Red */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button4 {
    border-radius: 12px;
}

.alert {
  padding: 20px;
  background-color: #ff5e00; /* Orange */
  color: white;
  margin-bottom: 15px;
  text-align: center;
}